

/* 
    Copyright 2016 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at https://angular.io/license
*/
                    




/* 
    Copyright 2016 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at https://angular.io/license
*/
            
.example-card {
 // min-width: 300px;
}
.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .example-container {
   // min-width: 300px;
  }
  body {
    margin: 0;
    padding: 0;
    text-align: center;
}
.main_container {
    margin: 0 auto;
    text-align: left;
}